In [1]:
import os
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from functools import reduce
import time
import csv
import sqlite3
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)
import json
import requests

import pickle
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.externals import joblib

# Dependencies
import openweathermapy as ow

# import api_key from config file
from config import api_key

In [2]:
def new_features(df, feature, N): 
    # total number of rows
    rows = df.shape[0]
    # a list representing number of days for prior measurements of feature
    # notice that the front of the list needs to be padded with N
    # None values to maintain the constistent rows length for each N
    numb_days_prior_measurements = [None]*N + [df[feature][i-N] for i in range(N, rows)]
    # make a new column name of feature_N and add to DataFrame
    col_name = "{}_{}".format(feature, N)
    df[col_name] = numb_days_prior_measurements

In [3]:
def c_to_f(c):
    return ((c*9/5) + 32).round(1)

In [4]:
table_name = 'kyoto_recent'

In [5]:
# connect to sqlite database
connex = sqlite3.connect("weather_predict.db")  
cur = connex.cursor() 
query = "SELECT * FROM " + table_name
city = pd.read_sql(query, con=connex)

In [6]:
city.head()

,Date,Mean_temp,Max_temp,Min_temp,Mean_dwp,Max_dwp,Min_dwp,Pressure,Humidity,Wind,Clouds,Description
0,2019-01-18 19:47:55,-5.68,-5.68,-5.68,-8.68,-8.68,-8.68,1016.8,85,1.16,0,Clear
1,2019-01-18 19:47:55,-5.68,-5.68,-5.68,-8.68,-8.68,-8.68,1016.8,85,1.16,0,Clear
2,2019-01-18 20:00:00,1.00,1.00,1.00,-2.00,-2.00,-2.00,1024.0,85,1.50,20,Clouds
3,2019-01-18 21:00:00,1.00,1.00,1.00,-2.00,-2.00,-2.00,1024.0,85,0.50,20,Clouds
4,2019-01-18 22:00:00,2.08,3.00,1.00,-0.92,0.00,-2.00,1025.0,85,1.50,20,Clouds

In [7]:
city_date = []

for day in city['Date']:
    timestamp = datetime.strptime(day,'%Y-%m-%d %H:%M:%S')
    day_only = datetime.strftime(timestamp,'%Y-%m-%d')
    city_date.append(day_only)
date = pd.DataFrame(city_date)

city['Date'] = date.values

In [8]:
city.head()

,Date,Mean_temp,Max_temp,Min_temp,Mean_dwp,Max_dwp,Min_dwp,Pressure,Humidity,Wind,Clouds,Description
0,2019-01-18,-5.68,-5.68,-5.68,-8.68,-8.68,-8.68,1016.8,85,1.16,0,Clear
1,2019-01-18,-5.68,-5.68,-5.68,-8.68,-8.68,-8.68,1016.8,85,1.16,0,Clear
2,2019-01-18,1.00,1.00,1.00,-2.00,-2.00,-2.00,1024.0,85,1.50,20,Clouds
3,2019-01-18,1.00,1.00,1.00,-2.00,-2.00,-2.00,1024.0,85,0.50,20,Clouds
4,2019-01-18,2.08,3.00,1.00,-0.92,0.00,-2.00,1025.0,85,1.50,20,Clouds

In [9]:
grouped_city = city.groupby('Date')
city_mean = grouped_city[['Mean_temp','Mean_dwp']].mean()
city_max = grouped_city[['Max_temp','Max_dwp']].max()
city_min= grouped_city[['Min_temp','Min_dwp']].min()

dfs = [city_mean, city_max, city_min]

In [10]:
df_final = reduce(lambda left,right: pd.merge(left,right,on='Date'), dfs)
df_final.head()

            Mean_temp  Mean_dwp  Max_temp  Max_dwp  Min_temp  Min_dwp
Date
2019-01-18  -0.763333 -3.763333       4.0      1.0     -5.68    -8.68
2019-01-19   4.581667 -0.976667      12.0      4.4     -4.42    -8.22
2019-01-20   6.731053  3.036316      12.0      7.6      2.01    -1.60
2019-01-21   5.900800 -2.011200      10.0      1.0      0.55    -3.40
2019-01-22   4.073750 -0.676250      12.0      6.2     -5.31    -8.95

In [13]:
city_renamed = df_final.rename(columns={'Mean_temp': 'Avg_temp','Mean_dwp': 'Avg_dwp',
                                              'Max_temp': 'Temp_max','Max_dwp': 'Max_dwp',
                                              'Min_temp':'Temp_min','Min_dwp': 'Min_dwp'})


city_renamed.head()

            Avg_temp   Avg_dwp  Temp_max  Max_dwp  Temp_min  Min_dwp
Date
2019-01-18 -0.763333 -3.763333       4.0      1.0     -5.68    -8.68
2019-01-19  4.581667 -0.976667      12.0      4.4     -4.42    -8.22
2019-01-20  6.731053  3.036316      12.0      7.6      2.01    -1.60
2019-01-21  5.900800 -2.011200      10.0      1.0      0.55    -3.40
2019-01-22  4.073750 -0.676250      12.0      6.2     -5.31    -8.95

In [14]:
features_city = list(city_renamed.columns.values)
#N is the number of days prior to the prediction, 3 days for this model
for feature in features_city:  
    if feature != 'Date':
        for N in range(1, 4):
            new_features(city_renamed, feature, N)

In [15]:
clean_df = city_renamed.dropna()
clean_df.Temp_max = clean_df.Temp_max.astype(float)
clean_df.Temp_min = clean_df.Temp_min.astype(float)
clean_df.dtypes

/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

Avg_temp      float64
Avg_dwp       float64
Temp_max      float64
Max_dwp       float64
Temp_min      float64
Min_dwp       float64
Avg_temp_1    float64
Avg_temp_2    float64
Avg_temp_3    float64
Avg_dwp_1     float64
Avg_dwp_2     float64
Avg_dwp_3     float64
Temp_max_1    float64
Temp_max_2    float64
Temp_max_3    float64
Max_dwp_1     float64
Max_dwp_2     float64
Max_dwp_3     float64
Temp_min_1    float64
Temp_min_2    float64
Temp_min_3    float64
Min_dwp_1     float64
Min_dwp_2     float64
Min_dwp_3     float64
dtype: object

In [16]:
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score, mean_squared_error

In [17]:
predictors = ['Avg_temp_1', 'Avg_temp_2', 'Avg_temp_3', 'Temp_max_1', 'Temp_max_2',
       'Temp_min_1', 'Temp_min_3', 'Avg_dwp_2', 'Avg_dwp_3', 'Min_dwp_1',
       'Min_dwp_3']

In [18]:
X = clean_df[predictors]
y= clean_df['Avg_temp']
X

,Avg_temp_1,Avg_temp_2,Avg_temp_3,Temp_max_1,Temp_max_2,Temp_min_1,Temp_min_3,Avg_dwp_2,Avg_dwp_3,Min_dwp_1,Min_dwp_3
Date,,,,,,,,,,,
2019-01-21,6.731053,4.581667,-0.763333,12.0,12.0,2.01,-5.68,-0.976667,-3.763333,-1.60,-8.68
2019-01-22,5.900800,6.731053,4.581667,10.0,12.0,0.55,-4.42,3.036316,-0.976667,-3.40,-8.22
2019-01-23,4.073750,5.900800,6.731053,12.0,10.0,-5.31,2.01,-2.011200,3.036316,-8.95,-1.60
2019-01-24,6.952500,4.073750,5.900800,12.0,12.0,-0.24,0.55,-0.676250,-2.011200,-3.20,-3.40
2019-01-25,2.868750,6.952500,4.073750,9.0,12.0,-5.54,-5.31,1.077500,-0.676250,-7.94,-8.95
2019-01-26,5.232917,2.868750,6.952500,10.0,9.0,0.80,-0.24,-4.406250,1.077500,-4.20,-3.20
2019-01-27,2.222778,5.232917,2.868750,6.0,10.0,1.00,-5.54,-1.692083,-4.406250,-7.20,-7.94
2019-01-28,1.668800,2.222778,5.232917,9.0,6.0,-6.08,0.80,-4.110556,-1.692083,-9.28,-4.20
2019-01-29,5.283750,1.668800,2.222778,11.0,9.0,0.12,1.00,-4.123200,-4.110556,-3.08,-7.20

In [19]:
scaler = joblib.load(open('concat_scaler.save', 'rb'))

In [20]:
X_scaled = scaler.transform(X)

In [21]:
model = pickle.load(open('ridge_concat_feats.pkl', 'rb'))

In [22]:
y_prediction = model.predict(X_scaled)

In [23]:
score = r2_score(y, y_prediction)

In [24]:
score

-0.6635729192185627

In [ ]:
# apply function to convert temperature into Fahrenheit
actual_f = c_to_f(clean_df['Avg_temp'])

avg_f = c_to_f(y_prediction)

avg_fahrenheit = []

for i in range(0, len(avg_f)):
    avg_fahrenheit.append(int(avg_f.item(i)))

# grab values and add to dataframe  
clean_df['Actual_avg_temp'] = ''
clean_df['Predicted_temp']= ''

clean_df['Actual_avg_temp'] = actual_f
clean_df['Predicted_temp'] = avg_fahrenheit

# Create new dataframe with only Average temperature collected and compare with predicted temperature 
predictions_df = clean_df[['Actual_avg_temp','Predicted_temp',]]

predictions_df